# Copia este archivo como '.env.local' y rellena tus credenciales de Firebase
VITE_FIREBASE_API_KEY=AIzaSyC0KNX9NgquGlHh0fZW4wx6gHbd1vqb_Ts
VITE_FIREBASE_AUTH_DOMAIN=structura-pm.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tu_proyecto_id
VITE_FIREBASE_STORAGE_BUCKET=structura-pm.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=637441065675
VITE_FIREBASE_APP_ID=1:637441065675:web:a1cf668e8624afdac4514e

